*{
    text-decoration: none ;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}



.parallaxMenuNav{
    color: rgb(255, 255, 255);
}

.tituloBienvenida{
    margin: 10px;
    text-align: center;
    font-size: 30px;
}
.nav-link{
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.navFijo{
    background-color:black ;
}

.nav-link:hover{
    color: rgb(105, 102, 102);
}



.home{
    background: url("../recursos/img/pexels-pixabay-270288.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: repeat;
    height: 700px;
    width: 100% !important; 
    
}

.textoParallaxIndex{
    color: rgb(238, 238, 238);
}

.textosParallax{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 210px;
}

.textServer{
    color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}

.textServer{
    color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}
.containerIp{
    display: flex;
    justify-content: center;
}

.ip{
    font-family:'Courier New', Courier, monospace;
    width: 30%;
    height:220px;
    border-radius: 30px ;
    padding-top: 30px;
    background-color: rgba(245, 245, 245, 0.37);
    margin-bottom: 100px;
}


.ip2{
   
    font-family:'Courier New', Courier, monospace;
    width: 30%;
    height:230px;
    border-radius: 30px ;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgba(245, 245, 245, 0.37);
    margin-bottom: 250px;
}





.containerSection{
  
    background-color: rgba(0, 0, 0, 0.596);
    width: 100%;
    height: 100%;
}

.containerFooter{
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px;
}

.containerImg{
    display: flex;
    justify-content: center;
}

/* Estilos Pagina Web */
.containerTextoWeb {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.containerTextoWeb p {
    text-align: center;
}

.containerWeb{
    display: flex;
    justify-content: center;
    text-align: center;   
}

.textWebFont{
    font-size: 110%;
}


.listadoOperadores{
    width: 450px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.containerOperadores{
    display: flex;
    justify-content: center;
}
.certificado, .jamboree, .diplomado, .bases, .categorias,
 .abril {
    
    width: 450px;
    height: 550px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}

.sectionWeb{
    background-color: #da14140e;
}

.certificado h1, .jamboree h2, .diplomado h4, .bases p,
.categorias h1, .listadoOperadores h5, .abril h1, .abril h2 {
    color: #333;
}

.certificado p, .jamboree p, .diplomado p, .bases p,
.categorias p, .listadoOperadores p, .abril p {
    color: #555;
    text-align: left;
}

.certificado a, .abril a {
    color: #007bff;
    text-decoration: none;
}

.listadoOperadores h6 {
    margin-top: 15px;
}

.listadoOperadores h6, .listadoOperadores p {
    color: #333;
}

.listadoOperadores p {
    margin-bottom: 10px;
}

.containerImgWeb{

    display: flex;
    justify-content: center;
}

.imgWeb{
    margin: 50px;
    border-radius: 10%;
}

.certificado{
    border-radius: 0px ;
}





/* Fin estilos PAgina web */

/* Media Mobile */
@media (max-width:1000px)  {

    .textosParallax{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 310px;
    }
    
    .home{
        background: url("../recursos/img/pexels-pixabay-270288.jpg");
        background-size: cover;
        background-position: 50%  ;
        background-attachment: fixed;
        height: 990px;
        width: 100% !important;        
    }

    .ip{
        font-family:'Courier New', Courier, monospace;
        width: 70%;
        margin: 40px;
        height:250px;
        background-color: rgba(245, 245, 245, 0.37);
        
    }
    
    .ip2{
        font-family:'Courier New', Courier, monospace;
        width: 70%;
        margin: 40px;
        height:300px;
        background-color: rgba(245, 245, 245, 0.37);
        
    }

    .textServer{
        color: black;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1.5em;
    }
}


@media (min-width: 1300px) {
    .home{
        background: url("../recursos/img/pexels-pixabay-270288.jpg");
        background-size: cover;
        background-attachment: fixed;
        background-repeat: repeat;
        height: 1000px;
        width: 100% !important;        
    }

    .textosParallax{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 20rem;
    }
    
  }

  /* Media Mobile Pagina Web */
  @media (max-width: 910px) {
  
.imgWeb{
    width: 100% !important;
}

    .col-lg-6  {
        overflow-y: hidden;
        display: flex;
        justify-content: center;
        padding: 0px !important;
    }

    .col-lg-12{
        padding: 0 !important;
      
    }

    .listadoOperadores{
        width: 350px;
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 0 !important;
        margin: 0;
        margin-bottom: 10px !important;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      
    }
    
    .certificado, .jamboree, .diplomado, .bases, .categorias,
    .abril {
       width: 100%;
       height: 550px;
       border: 1px solid #ddd;
       border-radius: 8px;
       padding: 0 !important;
      
       box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     
   }
  }



  /* Fin Media mobile web */
